<section class="content contentRow secondaryContent wrapper">
  <h2>Learn More</h2>
  <div class="contentRowContent">
    <div class="contentItem blockContent">
      <div class="description">
        <h3>Download CalyxOS</h3>
        <p>Install CalyxOS on your device.</p>
        <a href="#" rel="noopener noreferrer nofollow" target="_blank">Download</a>
      </div>
      <div class="featureImage">
        <img src="design-system/assets/placeholder/image.svg" alt="#">
      </div>
    </div>
    <div class="contentItem blockContent">
      <div class="description">
        <h3>About CalyxOS</h3>
        <p>Why did we create CalyxOS?</p>
        <a href="#" rel="noopener noreferrer nofollow" target="_blank">Learn More</a>
      </div>
      <div class="featureImage">
        <img src="design-system/assets/placeholder/image.svg" alt="#">
      </div>
    </div>
  </div>
</section>
