<h2>CalyxOS Features</h2>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <div class="icon placeholder"></div>
    <h3>Secure Backup</h3>
    <p>⏰ Automatic backups so you never lose a file.</p>
    <p>☁️ Backup your files to <a href="#" rel="noopener noreferrer nofollow" target="_blank">Nextcloud</a>, a USB drive, or to local storage.</p>
    <p>🔐 Client-side encryption protects all of yoyur backed-up data</p>
    <p>📲 Automatically restore your backups when you get a new phone.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="../assets/images/device/feature/backup-dm.png" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <div class="icon placeholder"></div>
    <h3>Private App Stores</h3>
    <p>🛒 Download your favorite Android apps from the <a href="#">Aurora</a> and <a href="#">F-Droid</a> Stores.</p>
    <p>🙌 Removed dependencies from Google APIs using <a href="#">microG</a>.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="../assets/images/device/feature/app-store-dm.png" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <div class="icon placeholder"></div>
    <h3>Private Dialer</h3>
    <p>📣 Reminders about best practices designed to encourage good operational security.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="../assets/images/device/feature/dialer-dm.png" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <div class="icon placeholder"></div>
    <h3>We've got your back</h3>
    <p>⏰ Automatically <a href="#">disable bluetooth</a> and <a href="#">wifi</a> when not in use.</p>
    <p>🚨 <a href="#" rel="noopener noreferrer nofollow" target="_blank">Wipe your device</a> in an emergency situation.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="../assets/images/device/feature/timeout-dm.png" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <div class="icon placeholder"></div>
    <h3>You're in control</h3>
    <p>✋ Control which apps connect to the internet with <a href="#" rel="noopener noreferrer nofollow" target="_blank">Datura Firewall</a>.</p>
    <p>🔐 Use built-in <a href="#" rel="noopener noreferrer nofollow" target="_blank">VPNs</a> from Calyx and Riseup to secure and anonymize your traffic.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="../assets/images/device/feature/network-dm.png" alt="#">
  </div>
</div>
