<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    {% include masthead.html %}
    <main>
      <section class="secondaryIntro">
  			<div class="wrapper">
  				<h1>{{ page.title }}</h1>
  				<p>Learn about some of the ways we protect your privacy.</p>
  			</div>
  		</section>
      <section class="content primaryContent wrapper">
  			{% include posts.html %}
  		</section>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
